
body {
  font-family: "Montserrat";
  font-size:12px;
}


.fixed-button{
  position: fixed;
  right: 70px;
  bottom: 50px;
  z-index: 1;
}
.form-control,.form-select,.accordion{
  font-size: 12px;
}

.active>.page-link{
  background-color: green;
  border-color: green;
}
.page-link{
  color:green
}
select option:hover {
    background: green;
    color:white;
}

.btn{
  font-size: 13px;
}


.form-check-input:checked {
  background-color: green; /* your color */
  border-color: green;
}

