
body {
  font-family: "Montserrat", sans-serif;
  font-size:12px;
}

.fixed-button{
  position: fixed;
  right: 70px;
  bottom: 50px;
  z-index: 1;
}


select option:hover {
    background: green;
    color:white;
}
