
body {
  font-family: "Montserrat", sans-serif;
  font-size:12px;
}

.fixed-button{
  position: fixed;
  right: 70px;
  bottom: 50px;
  z-index: 1;
}
.form-control,.form-select,.accordion{
  font-size: 12px;
}


select option:hover {
    background: green;
    color:white;
}

.btn{
  font-size: 13px;
}
